body {
    background-color: #6794f0;
    font-family: 'Times New Roman', 'Times New Roman', Times, serif;
    margin: 0;
    padding: 10px;
}

h1 {
    color: white;
    text-shadow: 3px 2px 1px black;
}

.card {
    background-color: #6794f0;
    border: 15px solid #001f8d;
    padding: 50px;
    width: 330px;
    height: 250px;
    box-shadow: 8px 8px 15px rgb(6, 6, 6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.card h2 {
    color: white;
    margin-bottom: 10px;
}

.card ul {
    padding-left: 40px;
    font-family: 'Arial';
}

.card li {
    font-size: 18px;
}